# feishu webhook url
FEISHU_WEBHOOK_URL_PERSON=

# nku username and password
NKU_USERNAME=
NKU_PASSWORD=

# monitoring time range
BEGIN_HOUR=9
END_HOUR=21

# whether to include morning time
INCLUDE_MORNING=FALSE

# the url of the target page
TARGET_URL=https://tyggl.nankai.edu.cn/Views/User/User.html

# the threshold of memory usage (in GB) for sending alert
MEMORY_THRESHOLD=1

# the minimum length of time (in hours) that the court is available for sending alert
LEAST_TIME_LENGTH=2

# the interval (in seconds) for monitoring
MONITOR_INTERVAL=300
